@{
    var men = string.Empty;
    if(Request.Form["btnGuardar"] != null) {
        Data.Cliente c = new Data.Cliente();
        c.CC = Request["cedula"];
        c.Nombre = Request["name"];
        c.Tel = Request["tel"];
        Data.ClienteData data = new Data.ClienteData();
        data.CrearCliente(c);
        men = "Cliente creado con exito";
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="libs/boot  strap-3.3.7-dist/css/bootstrap.min.css">
</head>
<body>
    <center>
 
        <form class="form1" id="myform" method="get" action="">

            
            <p>
                <label for="name">Nombre</label>
                <input id="name" name="name" minlength="5" type="text" required>
            </p>
            <p>
                <label for="email">Cedula</label>
                <input id="email" type="number" name="cedula" required>
            </p>
            <p>
                <label for="dir">Ingresa tu telefono</label>
                <input id="dir" type="tel" name="tel" required>
            </p>
            <p>
                <input class="submit" name="btnGuardar" type="submit" value="Submit">
            </p>

        </form>
    </center>
</body>



</html>